modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Development"

[[workflows.workflow]]
name = "Development"
author = 36659577
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[ports]]
localPort = 443
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80
